# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# Version control
.git
.gitignore

# Python cache
__pycache__/
*.py[cod]
*.pyc

# Docs / misc
README.md
LICENSE
.dockerignore
Dockerfile
docker-compose.yml
